## Data wrangling  com Pandas

In [52]:
import pandas as pd
import numpy as np

In [4]:
df = pd.read_csv("collected research people.csv")

In [22]:
df.head()

,Nome,Endereerço,Cidade,Estado,phone,anual_income,Estado Civil,AAge,n_filhos,Moradia,Food_restrictions,streaming,diariamente_sun blocker,Vai na Praia Mensalmente,Faz Academia,Compra e Lê Livros Todos os Anos,Quantidade de Livros Comprados,Autor Favorito,email
0,Maria Clara Novaes,NaN,Carvalho,Mato Grosso do Sul,(011) 3908 5991,86445.0,NaN,43.0,NaN,Quitada,Nenhuma,Globo Play,Sim,Não,Sim,NaN,NaN,NaN,mariaclaranovaes285@gemeil.com
1,Davi Lucca Pereira>,"Rodovia de Silveira, 67",NaN,Mato Grosso do Sul,NaN,31289.0,NaN,NaN,0.0,De favor,NaN,Todos,NaN,Não,Sim,Não,NaN,NaN,daviluccapereira933@exemplo.com
2,Sr. Caio Caldeira,"Residencial Freitas, 10",Carvalho,Rio Grande do Norte,NaN,NaN,S,60.0,NaN,Financiamento,Lactose e Glúten,NaN,Sim,Não,NaN,Sim,6.0,NaN,srcaiocaldeira626@gemeil.com
3,Kaique Azevedo%,NaN,Azevedo,Rio Grande do Sul,NaN,76264.0,Casado,26.0,4.0,Quitada,Lactose e Glúten,NaN,Não,Não,Não,Sim,0.0,Enzo Rezende,kaiqueazevedo731@rotmail.com
4,Pedro Moreira,"Colônia de Oliveira, 87",NaN,NaN,-0.'8--%/],53295.0,Casado,60.0,5.0,Financiamento,NaN,Globo Play,Sim,Sim,NaN,Sim,7.0,NaN,pedromoreira622@gemeil.com

In [ ]:
#conultando coluna 	Unnamed: 0
df['Unnamed: 0']

#excluindo colina Unnamed:

df = df.drop(columns= ['Unnamed: 0'])

In [26]:
df.head()

,Nome,Endereerço,Cidade,Estado,phone,anual_income,Estado Civil,AAge,n_filhos,Moradia,Food_restrictions,streaming,diariamente_sun blocker,Vai na Praia Mensalmente,Faz Academia,Compra e Lê Livros Todos os Anos,Quantidade de Livros Comprados,Autor Favorito,email
0,Maria Clara Novaes,NaN,Carvalho,Mato Grosso do Sul,(011) 3908 5991,86445.0,NaN,43.0,NaN,Quitada,Nenhuma,Globo Play,Sim,Não,Sim,NaN,NaN,NaN,mariaclaranovaes285@gemeil.com
1,Davi Lucca Pereira>,"Rodovia de Silveira, 67",NaN,Mato Grosso do Sul,NaN,31289.0,NaN,NaN,0.0,De favor,NaN,Todos,NaN,Não,Sim,Não,NaN,NaN,daviluccapereira933@exemplo.com
2,Sr. Caio Caldeira,"Residencial Freitas, 10",Carvalho,Rio Grande do Norte,NaN,NaN,S,60.0,NaN,Financiamento,Lactose e Glúten,NaN,Sim,Não,NaN,Sim,6.0,NaN,srcaiocaldeira626@gemeil.com
3,Kaique Azevedo%,NaN,Azevedo,Rio Grande do Sul,NaN,76264.0,Casado,26.0,4.0,Quitada,Lactose e Glúten,NaN,Não,Não,Não,Sim,0.0,Enzo Rezende,kaiqueazevedo731@rotmail.com
4,Pedro Moreira,"Colônia de Oliveira, 87",NaN,NaN,-0.'8--%/],53295.0,Casado,60.0,5.0,Financiamento,NaN,Globo Play,Sim,Sim,NaN,Sim,7.0,NaN,pedromoreira622@gemeil.com

In [ ]:
#renomeando colunas com dicionario de mapeamento
novas_colunas = {'Endereerço' : 'Endereço',
                 'phone' : 'Telefone',
                 'anual_income' : 'Renda Anual',
                 'AAge' : 'Idade',
                 'n_filhos' : 'N Filhos',
                 'diariamente_sun blocker': 'Usa protetor solar diariamente',
                 'Food_restrictions': 'Restrição alimentar',
                 'streaming': 'Streaming'}

#substituindo os nomes com a função rename e passando colunas recebe novas_colunas
df.rename(columns=novas_colunas, inplace=True)
df.head()

,Nome,Endereço,Cidade,Estado,Telefone,Renda Anual,Estado Civil,Idade,N Filhos,Moradia,Restrição alimentar,Streaming,Usa protetor solar diariamente,Vai na Praia Mensalmente,Faz Academia,Compra e Lê Livros Todos os Anos,Quantidade de Livros Comprados,Autor Favorito,email
0,Maria Clara Novaes,NaN,Carvalho,Mato Grosso do Sul,(011) 3908 5991,86445.0,NaN,43.0,NaN,Quitada,Nenhuma,Globo Play,Sim,Não,Sim,NaN,NaN,NaN,mariaclaranovaes285@gemeil.com
1,Davi Lucca Pereira>,"Rodovia de Silveira, 67",NaN,Mato Grosso do Sul,NaN,31289.0,NaN,NaN,0.0,De favor,NaN,Todos,NaN,Não,Sim,Não,NaN,NaN,daviluccapereira933@exemplo.com
2,Sr. Caio Caldeira,"Residencial Freitas, 10",Carvalho,Rio Grande do Norte,NaN,NaN,S,60.0,NaN,Financiamento,Lactose e Glúten,NaN,Sim,Não,NaN,Sim,6.0,NaN,srcaiocaldeira626@gemeil.com
3,Kaique Azevedo%,NaN,Azevedo,Rio Grande do Sul,NaN,76264.0,Casado,26.0,4.0,Quitada,Lactose e Glúten,NaN,Não,Não,Não,Sim,0.0,Enzo Rezende,kaiqueazevedo731@rotmail.com
4,Pedro Moreira,"Colônia de Oliveira, 87",NaN,NaN,-0.'8--%/],53295.0,Casado,60.0,5.0,Financiamento,NaN,Globo Play,Sim,Sim,NaN,Sim,7.0,NaN,pedromoreira622@gemeil.com

In [ ]:
#conferindo caracteres especiais na coluna Nome
#df.Nome
#substituindo caracteres especiais na coluna Nome
#fazer manipulacao de string linha por linha com df.Nome.str e replace
#substituindo caracteres especiais com \W e substituindo por nada " "
#df.Nome.str.replace('\W', ' ')

df['Nome'] = df['Nome'].str.replace('[^a-zA-Zà-úÀ-Ú0-9 ]', '', regex=True)
#df.Nome

0           Maria Clara Novaes
1           Davi Lucca Pereira
2             Sr Caio Caldeira
3               Kaique Azevedo
4                Pedro Moreira
5         Sra Ana Júlia Castro
6               Erick Carvalho
7        Sra Ana Sophia Vieira
8             Dav4i Nascimento
9                 Juan da Mota
10              Stephany Pinto
11               Joana Rezende
12         Dra Letícia Ribeiro
13             Beatriz Azevedo
14              André Monteiro
15        João Guilherme Porto
16               Augusto Rocha
17      Srta Isabelly da Rocha
18              Heloísa Santos
19              Calebe Azevedo
20                   Ana Alves
21      Maria Fernanda Ribeiro
22                Samuel Jesus
23               Beatriz Ramos
24               Dr Davi Cunha
25           Enrico Cavalcanti
26                Raquel Moura
27              Lorena Cardoso
28              Diogo Caldeira
29             Maria Gonçalves
30             Isadora Cardoso
31               Igor Ferreira
32               Sabrina Nunes
33          Pedro Miguel Silva
34    Dra Clarice da Conceição
35            Daniel Rodrigues
36                  Isis Silva
Name: Nome, dtype: object

In [68]:
df['Telefone'] = df['Telefone'].str.replace('[^0-9() +-]', '')

df.Telefone

0         (011) 3908 5991
1                     NaN
2                     NaN
3                     NaN
4              -0.'8--%/]
5     +55 (084) 4591-2403
6            84 9687 5023
7              5}|#:}~<7~
8        +55 51 6868 3666
9                     NaN
10                    NaN
11          0900 093 9760
12                    NaN
13           81 2891-7504
14             ^{{52$,,78
15                    NaN
16           41 5504 8546
17           84 2319-1532
18          0800 612 6032
19                    NaN
20           51 5882 5998
21                    NaN
22             ;~).,-:5~=
23    +55 (021) 4719 9862
24        (084) 0305 6725
25        (011) 3410 5199
26                    NaN
27           84 6014-5325
28                    NaN
29       +55 71 7088-8329
30                    NaN
31           21 0712-6859
32       +55 51 2213 5603
33             8:<$9@\:~/
34       +55 51 8245 2336
35        (061) 5002 3548
36             '|2{938(=[
Name: Telefone, dtype: object

In [73]:
df.loc[df.Telefone.str.contains('[*]', na= False), 'Telefone'] = np.nan

In [74]:
df.Telefone

0         (011) 3908 5991
1                     NaN
2                     NaN
3                     NaN
4              -0.'8--%/]
5     +55 (084) 4591-2403
6            84 9687 5023
7              5}|#:}~<7~
8        +55 51 6868 3666
9                     NaN
10                    NaN
11          0900 093 9760
12                    NaN
13           81 2891-7504
14             ^{{52$,,78
15                    NaN
16           41 5504 8546
17           84 2319-1532
18          0800 612 6032
19                    NaN
20           51 5882 5998
21                    NaN
22             ;~).,-:5~=
23    +55 (021) 4719 9862
24        (084) 0305 6725
25        (011) 3410 5199
26                    NaN
27           84 6014-5325
28                    NaN
29       +55 71 7088-8329
30                    NaN
31           21 0712-6859
32       +55 51 2213 5603
33             8:<$9@\:~/
34       +55 51 8245 2336
35        (061) 5002 3548
36             '|2{938(=[
Name: Telefone, dtype: object

In [76]:
#Estado civil - fazendo um replace dos termos incompletos com o dicionario 
df['Estado Civil'] = df['Estado Civil'].replace({'S': 'Solteiro',
                            'C': 'Casado',
                            'D':'Divocriado',
                            'V': 'Viúvo' })

In [77]:
df.head()

,Nome,Endereço,Cidade,Estado,Telefone,Renda Anual,Estado Civil,Idade,N Filhos,Moradia,Restrição alimentar,Streaming,Usa protetor solar diariamente,Vai na Praia Mensalmente,Faz Academia,Compra e Lê Livros Todos os Anos,Quantidade de Livros Comprados,Autor Favorito,email
0,Maria Clara Novaes,NaN,Carvalho,Mato Grosso do Sul,(011) 3908 5991,86445.0,NaN,43.0,NaN,Quitada,Nenhuma,Globo Play,Sim,Não,Sim,NaN,NaN,NaN,mariaclaranovaes285@gemeil.com
1,Davi Lucca Pereira,"Rodovia de Silveira, 67",NaN,Mato Grosso do Sul,NaN,31289.0,NaN,NaN,0.0,De favor,NaN,Todos,NaN,Não,Sim,Não,NaN,NaN,daviluccapereira933@exemplo.com
2,Sr Caio Caldeira,"Residencial Freitas, 10",Carvalho,Rio Grande do Norte,NaN,NaN,Solteiro,60.0,NaN,Financiamento,Lactose e Glúten,NaN,Sim,Não,NaN,Sim,6.0,NaN,srcaiocaldeira626@gemeil.com
3,Kaique Azevedo,NaN,Azevedo,Rio Grande do Sul,NaN,76264.0,Casado,26.0,4.0,Quitada,Lactose e Glúten,NaN,Não,Não,Não,Sim,0.0,Enzo Rezende,kaiqueazevedo731@rotmail.com
4,Pedro Moreira,"Colônia de Oliveira, 87",NaN,NaN,-0.'8--%/],53295.0,Casado,60.0,5.0,Financiamento,NaN,Globo Play,Sim,Sim,NaN,Sim,7.0,NaN,pedromoreira622@gemeil.com